<style>
<!--
A:visited
{
    FONT-FAMILY: Verdana, Arial, Helvetica;
    COLOR: black;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-FAMILY: Verdana, Arial, Helvetica;
    COLOR: black;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline
}
A:link
{
    FONT-FAMILY: Verdana, Arial, Helvetica;
    COLOR: black;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: none
}
TD
{
    FONT-FAMILY: Verdana, Arial, Helvetica;
    FONT-SIZE: 10pt;
}
-->
</style>
