.titulo {
	COLOR: white; FONT-FAMILY: Franklin Gothic, arial black; FONT-SIZE: 15pt
}
.titulo2 {
	COLOR: white; FONT-FAMILY: lucida sans unicode, arial black; FONT-SIZE: 14pt
}
P {
	COLOR: white; FONT-FAMILY: verdana, lucida sans unicode, arial; FONT-SIZE: 8pt; TEXT-ALIGN: justify
}
B {
	COLOR: white; FONT-WEIGHT: bold
}
LI {
	COLOR: white; FONT-FAMILY: verdana, lucida sans unicode, arial; FONT-SIZE: 8pt; LIST-STYLE: url(iconlist.gif); TEXT-ALIGN: justify
}
TD {
	COLOR: white; FONT-FAMILY: verdana, lucida sans unicode, arial; FONT-SIZE: 8pt
}
DT {
	COLOR: white; FONT-FAMILY: lucida sans unicode, arial; FONT-SIZE: 10pt; LINE-HEIGHT: 2
}
DD {
	COLOR: white; FONT-FAMILY: verdana, lucida sans unicode, arial; FONT-SIZE: 8pt; TEXT-ALIGN: justify
}
A:link {
	COLOR: #6495ED;
	TEXT-DECORATION: none
}
A:visited {
	COLOR: Blue;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: Aqua;
	TEXT-DECORATION: underline
}
