
Como leer esta zine :

                primero, carga tu font de amiga preferido :
                (preferentemente ami.exe)
                MS-DOS
                EDIT ifo9.txt (o alguna otra giley)
                Enjoy!

Para los ansis, configura el config.sys loadeando el ansi.sys.
O usa el AcidDraw o lo que te pinte.

BLAH!
