---
import { loadEzines } from '../lib/ezines'

const data = loadEzines()
const categories = Object.entries(data.categories)
---

<aside class="sidebar">
  <div class="sidebar-title">
    <a href="/">PhileZ</a>
  </div>

  <nav>
    <ul class="sidebar-nav">
      <li><a href="/">Home</a></li>

      {categories.map(([slug, category]) => (
        <li>
          <a href={`/category/${slug}`}>{category.name}</a>
        </li>
      ))}

      <li><a href="/browse">Browse All Ezines</a></li>
    </ul>
  </nav>
</aside>
